---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contacto',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contacto" title="¡Conectemos!" />

  <!-- Formulario de contacto con hCaptcha -->
  <section class="container mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <form
      action="https://api.web3forms.com/submit"
      method="POST"
      id="form"
      class="needs-validation max-w-2xl mx-auto"
      novalidate
    >
      <!-- Web3Forms Access Key -->
      <input type="hidden" name="access_key" value="158949aa-8109-4dc2-8c5e-5884e214be84" />
      <input type="checkbox" class="hidden" style="display:none" name="botcheck" />

      <!-- Nombre -->
      <div class="mb-5">
        <input
          type="text"
          placeholder="Nombre Completo"
          required
          class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
          name="name"
        />
        <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
          Por favor, introduce tu nombre completo.
        </div>
      </div>

      <!-- Correo Electrónico -->
      <div class="mb-5">
        <label for="email_address" class="sr-only">Correo Electrónico</label>
        <input
          id="email_address"
          type="email"
          placeholder="Correo Electrónico"
          name="email"
          required
          class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
        />
        <div class="empty-feedback text-red-400 text-sm mt-1">Por favor, introduce tu correo electrónico.</div>
        <div class="invalid-feedback text-red-400 text-sm mt-1">Por favor, introduce un correo válido.</div>
      </div>

      <!-- Mensaje -->
      <div class="mb-3">
        <textarea
          name="message"
          required
          placeholder="Tu Mensaje"
          class="w-full px-4 py-3 border placeholder:text-slate-400 rounded-md outline-none h-36 focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100"
        ></textarea>
        <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">Por favor, introduce tu mensaje.</div>
      </div>

      <!-- hCaptcha -->
      <div class="mb-5">
        <!-- Aquí incluyes el widget de hCaptcha -->
        <div class="h-captcha" data-sitekey="ea640e70-0602-4a40-9baa-aaec246a6742"></div>
      </div>

      <!-- Botón de Envío -->
      <button
        type="submit"
        class="w-full px-6 py-3 text-white bg-blue-600 rounded-md focus:outline-none hover:bg-blue-700 focus:ring-4 focus:ring-blue-200"
      >
        Enviar Mensaje
      </button>
      <div id="result" class="mt-3 text-center"></div>
    </form>
  </section>

  <!-- Features2 Widget ************** -->

  <Features2
    title="¡Estamos aquí para ayudarte!"
    items={[
      {
        title: 'Soporte General',
        description: `Contáctanos para consultas relacionadas con la gestión de cuentas, navegación del sitio web, problemas de pago, acceso a servicios contratados o cualquier otra pregunta sobre nuestras funcionalidades.`,
      },
      {
        title: 'Contacta a Ventas',
        description:
          'Habla con nosotros para preguntas sobre compras, opciones de personalización, licencias para uso comercial o cualquier duda sobre nuestros servicios.',
      },
      {
        title: 'Soporte Técnico',
        description:
          'Contáctanos si enfrentas problemas técnicos como instalación, dificultades de edición, problemas de compatibilidad con software o cualquier otro reto técnico relacionado con nuestros servicios.',
      },
      {
        title: 'Teléfono / WhatsApp',
        description: '+507 65772083',
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'hola@infrony.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Ubicación',
        description: 'Panamá, Las Cumbres',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>

<!-- Estilos y Validación -->
<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('form');
    const result = document.getElementById('result');

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      form.classList.add('was-validated');
      if (!form.checkValidity()) {
        form.querySelectorAll(':invalid')[0].focus();
        return;
      }

      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);

      result.innerHTML = 'Enviando...';

      fetch('https://api.web3forms.com/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
        },
        body: json,
      })
        .then(async (response) => {
          const json = await response.json();
          if (response.status == 200) {
            result.classList.add('text-green-500');
            result.innerHTML = json.message;
          } else {
            console.log(response);
            result.classList.add('text-red-500');
            result.innerHTML = json.message;
          }
        })
        .catch((error) => {
          console.log(error);
          result.innerHTML = 'Algo salió mal!';
        })
        .then(function () {
          form.reset();
          form.classList.remove('was-validated');
          setTimeout(() => {
            result.style.display = 'none';
          }, 5000);
        });
    });
  });
</script>
