---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Header from '~/components/widgets/Header.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Servicios de Transformación Digital',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '/' },
        { text: 'Nosotros', href: '/about' },
        { text: 'Servicios', href: '/services' },
        { text: 'Planes', href: '/pricing' },
        { text: 'Blog', href: '/blog' },
        { text: 'Github', href: 'https://github.com/infrony' },
      ]}
      actions={[
        {
          text: 'Contáctanos',
          href: '/contact',
        },
      ]}
      isSticky
      showRssFeed
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Servicios Profesionales de Tecnología"
    title="Impulsa tu Negocio con Soluciones Tecnológicas a Medida"
    subtitle="Ofrecemos servicios de consultoría estratégica, desarrollo de aplicaciones, y automatización inteligente, diseñados para optimizar tu negocio y mejorar la experiencia de tus clientes. ¡Transforma tu empresa hoy!"
    actions={[{ variant: 'primary', target: '_blank', text: 'Descubre nuestros servicios', href: '/services' }]}
    image={{
      src: 'https://images.infrony.com/servicios-infrony.png',
      alt: 'Hero Image of Business Transformation',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestros Servicios"
    subtitle="Explora nuestras soluciones diseñadas para hacer crecer tu negocio."
    columns={3}
    items={[
      {
        title: 'Consultoría Tecnológica y Estrategia Digital',
        description:
          'Te ayudamos a digitalizar y automatizar los procesos de tu empresa, mejorando la eficiencia y reduciendo costos operativos.',
        icon: 'tabler:brain',
      },
      {
        title: 'Automatización con IA',
        description:
          'Automatizamos tareas empresariales utilizando inteligencia artificial con n8n y Make.com, permitiendo una gestión eficiente de procesos y datos.',
        icon: 'tabler:settings',
      },
      {
        title: 'Desarrollo de Aplicaciones Web y Móviles',
        description:
          'Creamos aplicaciones personalizadas para mejorar la interacción con tus clientes y optimizar los flujos de trabajo internos.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Integración de APIs',
        description:
          'Conectamos tus sistemas para que trabajen juntos de manera fluida, mejorando la productividad de tu equipo.',
        icon: 'tabler:link',
      },
      {
        title: 'Diseño Gráfico y Branding',
        description:
          'Diseñamos y desarrollamos la identidad visual de tu negocio para que destaque en el mercado y conecte con tu audiencia.',
        icon: 'tabler:palette',
      },
      {
        title: 'E-commerce',
        description:
          'Implementamos tiendas online seguras y escalables con pasarelas de pago integradas, para que puedas vender sin complicaciones.',
        icon: 'tabler:shopping-cart',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Soluciones Personalizadas',
        description:
          'Nos adaptamos a las necesidades específicas de tu empresa para implementar las mejores soluciones tecnológicas.',
        icon: 'tabler:wand',
      },
      {
        title: 'Soporte Técnico',
        description:
          'Ofrecemos soporte continuo y mantenimiento de sistemas para garantizar la eficiencia y seguridad de tu infraestructura tecnológica.',
        icon: 'tabler:lifebuoy',
      },
      {
        title: 'Estrategias Digitales',
        description:
          'Desarrollamos estrategias efectivas para aumentar tu visibilidad en línea y captar más clientes potenciales.',
        icon: 'tabler:trending-up',
      },
    ]}
    image={{
      src: 'https://images.infrony.com/colaboracion-trabajo-equipo.png',
      alt: 'Equipo desarrollando estrategias de crecimiento',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nuestros Compromisos</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Lo que dicen nuestros clientes"
    testimonials={[
      {
        testimonial: `Gracias a la automatización que implementaron, nuestro equipo ha ganado tiempo y eficiencia. El soporte fue excelente.`,
        name: 'Karla Martínez',
        job: 'Gerente de Operaciones',
        image: {
          src: 'https://images.infrony.com/mujer-profesional.png',
          alt: 'Imagen testimonial de Karla Martínez',
        },
      },
      {
        testimonial: `La app que desarrollaron nos ha permitido mejorar la experiencia del cliente, y las ventas han aumentado significativamente.`,
        name: 'Ana Perez',
        job: 'Dueña de Negocio',
        image: {
          src: 'https://images.infrony.com/ana-perez.jpg',
          alt: 'Imagen testimonial de Ana Perez',
        },
      },
      {
        testimonial: `Con el mantenimiento web de Servitech Infrony, nuestro sitio siempre está actualizado y funcionando de manera óptima.`,
        name: 'Carlos Gomez',
        job: 'Consultor Independiente',
        image: {
          src: 'https://images.infrony.com/carlos-gomez.jpg',
          alt: 'Imagen testimonial de Carlos Gomez',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contáctanos',
        href: '/contact',
      },
    ]}
    title="¿Listo para transformar tu negocio?"
    subtitle="Ponte en contacto con nosotros para implementar soluciones tecnológicas que hagan crecer tu empresa."
  />
</Layout>
