---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    src="https://images.infrony.com/infrony-logo-black.png"
    alt="Logo de {SITE?.name}"
    class="inline-block w-8 h-8 mr-2 dark:hidden"
  />
  <img
    src="https://images.infrony.com/infrony-logo.png"
    alt="Logo de {SITE?.name}"
    class="w-8 h-8 mr-2 hidden dark:inline-block"
  />
  {SITE?.name}
</span>
