---
import { SITE } from 'astrowind:config';
---

<span class="inline-flex items-center">
  <img
    src="https://pub-f30bb22e4bb247bea2af2e1ef8376e00.r2.dev/logos/logo%20horizontal%20new.png"
    alt={`Logo de ${SITE?.name}`}
    class="inline-block h-8 w-auto dark:hidden"
    loading="eager"
  />
  <img
    src="https://pub-f30bb22e4bb247bea2af2e1ef8376e00.r2.dev/logos/logo%20horizontal%20new%20-%20Fondo%20Oscuro.png"
    alt={`Logo de ${SITE?.name}`}
    class="hidden h-8 w-auto dark:inline-block"
    loading="eager"
  />
</span>
