---
import '~/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
import Analytics from '~/components/common/Analytics.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { Icon } from 'astro-icon/components';

// Comment the line below to disable View Transitions
import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <!-- Insert Schema.org structured data -->
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Servitech Infrony",
        "url": "https://infrony.com",
        "logo": "https://pub-f30bb22e4bb247bea2af2e1ef8376e00.r2.dev/logo-150dpi-vertical-only-logo%20(1).ico",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+507 65772083",
          "contactType": "Customer Service",
          "areaServed": "PA",
          "availableLanguage": "Spanish"
        },
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Las Cumbres, Panamá",
          "addressLocality": "Panamá",
          "postalCode": "00000",
          "addressCountry": "PA"
        },
        "description": "En Servitech Infrony, combinamos tecnología, creatividad y experiencia para transformar tus procesos digitales. Ofrecemos servicios de desarrollo de software, consultoría tecnológica, diseño web y mucho más, enfocados en potenciar tu presencia online y optimizar la experiencia de tus clientes.",
        "openingHours": "Mo,Tu,We,Th,Fr 09:00-18:00",
        "sameAs": [
          "https://www.facebook.com/servitechinfrony",
          "https://www.instagram.com/servitech.infrony",
          "https://www.linkedin.com/company/servitechinfrony"
        ]
      }
    </script>

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        (w as unknown as { [key: string]: unknown })[l] = (w as unknown as { [key: string]: unknown })[l] || [];
        (w as unknown as { [key: string]: unknown[] })[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        const f = d.getElementsByTagName(s)[0],
          j = d.createElement(s) as HTMLScriptElement,
          dl = l != 'dataLayer' ? '&l=' + l : '';
        (j as HTMLScriptElement).async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        if (f && f.parentNode) {
          f.parentNode.insertBefore(j, f);
        }
      })(window, document, 'script', 'dataLayer', 'GTM-TZLKLV5Z');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Comment the line below to disable View Transitions -->
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TZLKLV5Z"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />

    <!-- Sticky WhatsApp Button -->
    <a
      href="https://wa.me/message/NQ2M2DC3AEDZD1"
      target="_blank"
      class="sticky-btn"
      aria-label="Chateanos por WhatsApp!"
    >
      <Icon name="tabler:brand-whatsapp" class="sticky-icon" />
    </a>

    <BasicScripts />
  </body>
</html>
