---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

// import { headerData, footerData } from '~/navigation';
import { footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <!-- <Header {...headerData} isSticky showRssFeed showToggleTheme /> -->
    <Header
      links={[
        { text: 'Inicio', href: '/' },
        { text: 'Nosotros', href: '/about' },
        { text: 'Servicios', href: '/services' },
        { text: 'Planes de Diseño Web', href: '/pricing' },
        { text: 'Blog', href: '/blog' },
        { text: 'Github', href: 'https://github.com/infrony' },
      ]}
      actions={[
        {
          text: 'Contáctanos',
          href: '/contact',
        },
      ]}
      isSticky
      showRssFeed
      showToggleTheme
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
